.VPNavBar {
  background-color: var(--vp-nav-bg-color) !important;
  z-index: var(--vp-z-index-nav) !important;
}

.VPNavBarTitle {
  background-color: var(--vp-nav-bg-color) !important;
}

.VPNav {
  .VPNavBarMenuLink {
    height: var(--vp-nav-height);
    line-height: var(--vp-nav-height);

    &:hover {
      background-color: var(--vp-c-bg-soft);
    }
  }

  .VPNavBarMenuGroup {
    .link {
      height: var(--vp-nav-height);
      line-height: var(--vp-nav-height);

      &:hover {
        background-color: var(--vp-c-bg-soft);
      }
    }
  }

  z-index: var(--vp-z-index-nav) !important;
}

.VPLink.link.link {
  padding: 0.5rem 1rem;
  border-radius: 4px;

  &:hover {
    background-color: var(--vp-c-bg-soft);
  }
}
