@use 'sass:color';
@use './_variables.scss' as vars;
@use './_colors.scss' as colors;
@use './_breakpoints.scss' as breakpoints;
@use './_theme.scss';
@use './_sidebar.scss';
@use './_navigation.scss';
@use './_code.scss';
@use './_tooltips.scss';
@use './_scrollbar.scss';

// Only keep global selection styles here
::selection {
  background-color: #{color.adjust(colors.$purple-brand, $alpha: -0.7)} !important;
  color: #{color.adjust(colors.$purple-dark, $lightness: -20%)} !important;
}

.dark ::selection {
  background-color: #{color.adjust(colors.$purple-brand, $alpha: -0.7)} !important;
  color: #{color.adjust(colors.$purple-light, $lightness: -20%)} !important;
}

// Search result highlight override
mark[data-markjs='true'] {
  background-color: #{color.adjust(colors.$purple-brand, $alpha: -0.8)} !important;
  color: #{color.adjust(colors.$purple-dark, $lightness: -40%)} !important;
}

.title .text mark[data-markjs='true'] {
  background-color: #{color.adjust(colors.$purple-brand, $alpha: -0.85)} !important;
}

.dark mark[data-markjs='true'] {
  background-color: #{color.adjust(colors.$purple-brand, $alpha: -0.8)} !important;
  color: #{color.adjust(colors.$purple-light, $lightness: -20%)} !important;
}
